@model ClipperPortal.Models.ReplacementVehicle

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="replacement-vehicles details-page">
    <h2>Create Replacement Vehicle</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        Html.RenderPartial("_Content", Model);
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            PageManager.bind();
        });
    </script>
}
