@model ClipperPortal.Models.DeviceSurvey

@{
    ViewBag.Title = "Clipper Device Survey";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="device-survey details-page">
    <h2>Device Survey</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        Html.RenderPartial("_Content", Model);
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            //PageManager.bind();
        });
    </script>
}
