@using GridMvc.Html
@model IEnumerable<ClipperPortal.Models.DeviceSurvey>

@{
    ViewBag.Title = "Device Surveys";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="device-survey list-page">
    <h2>Device Survey</h2>

    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })

    @{ Html.RenderPartial("_StatusMessage"); }

    @Html.Grid(Model).Named("deviceSurveyGrid").Columns(columns =>
    {
        columns.Add(x => x.ID).Css("primary-key hidden");
        columns.Add(x => x.CalendarYear).Titled("Calendar Year").Sortable(true);
        columns.Add(x => x.Agency).Titled("Operator").Sortable(true);
        columns.Add(x => x.HasGilligYN).Titled("Gillig").SetWidth("4rem").Sortable(true);
        columns.Add(x => x.HasNewFlyerYN).Titled("New Flyer").SetWidth("4rem").Sortable(true);
        columns.Add(x => x.HasElDoradoYN).Titled("El Dorado").SetWidth("4rem").Sortable(true);
        columns.Add(x => x.OtherName).Titled("Other").Sortable(true);
        columns.Add(x => x.RecordStatus).Titled("Record Status").Sortable(true);
        columns.Add(x => x.DateCreated).Titled("Created").SetWidth("9rem").Sortable(true);
        columns.Add(x => x.LastUpdated).Titled("Updated").SetWidth("9rem").Sortable(true);
        columns.Add().Encoded(false).Sanitized(false).RenderValueAs(x => Html.ActionLink("Edit", "Edit", new { id = x.ID }, new { @class = "btn btn-primary btn-xs" }));
        columns.Add().Encoded(false).Sanitized(false).RenderValueAs(x => @<button class="btn btn-danger btn-xs btn-delete" data-id="@x.ID">Delete</button>);
    }).WithPaging(15)
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            PageManager.bind();
        });
    </script>
}
