@using GridMvc.Html
@model IEnumerable<ClipperPortal.Models.AuditRecord>

@{
    ViewBag.Title = "Reports - Audit Records";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reports</h2>

<p>
    @Html.ActionLink("Matrix", "Matrix", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Audit Records", "Audit", null, new { @class = "btn btn-primary" })
</p>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(x => x.EntityName).Titled("Entity").Sortable(true);
    columns.Add(x => x.PrimaryKeyValue).Titled("ID");
    columns.Add(x => x.PropertyName).Titled("Property").Sortable(true);
    columns.Add(x => x.OldValue).Titled("Old Value").Sortable(true);
    columns.Add(x => x.NewValue).Titled("New Value").Sortable(true);
    columns.Add(x => x.DateChanged).Titled("Date Changed").Sortable(true);
}).WithPaging(15)
