@using GridMvc.Html
@model IEnumerable<ClipperPortal.Models.ReportMatrix>

@{
    ViewBag.Title = "Device Surveys";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var filter = string.Empty;

    if (Request.QueryString["grid-filter"] != null)
    {
        var filterString = Request.QueryString["grid-filter"];
        filter = filterString.Replace("__", "|").Split('|')[2];
    }
}

<h2>Reports</h2>

<p>
    @Html.ActionLink("Matrix", "Matrix", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Audit Records", "Audit", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Export to CSV", "Export", null, new { @class = "btn btn-info pull-right btn-export" })
</p>


@Html.Grid(Model).Named("reportMatrixGrid").Columns(columns =>
{
    columns.Add(x => x.Operator).Titled("Operator").Sortable(true).Filterable(true).SetFilterWidgetType("OperatorFilterWidget");
    columns.Add(x => x.ReportingPeriod).Titled("Reporting Period").Sortable(true).Filterable(true).SetFilterWidgetType("ReportingPeriodFilterWidget");
    columns.Add(x => x.RecordStatus).Titled("Record Status").Sortable(true).Filterable(true).SetFilterWidgetType("RecordStatusFilterWidget");
    columns.Add(x => x.ReplacementVehicles).Titled("Replacement Vehicles").SetWidth("4rem");
    columns.Add(x => x.ExpansionVehicles).Titled("Expansion Vehicles").SetWidth("4rem");
}).WithPaging(15)

@section Scripts {
    <script type="text/javascript">
        $(function () {
            PageController.bind();
            PageController.filterValue = '@filter';
            pageGrids.reportMatrixGrid.addFilterWidget(new OperatorFilterWidget());
            pageGrids.reportMatrixGrid.addFilterWidget(new ReportingPeriodFilterWidget());
            pageGrids.reportMatrixGrid.addFilterWidget(new RecordStatusFilterWidget());

            $('.btn-export').click(function (evt) {
                evt.preventDefault();
                window.open('/DeviceSurvey/Export');
            });
        });
    </script>
}
