@using GridMvc.Html
@model IEnumerable<ClipperPortal.Models.ReportMatrix>

@{
    ViewBag.Title = "Reports - Matrix";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reports</h2>

<p>
    @Html.ActionLink("Matrix", "Matrix", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Audit Records", "Audit", null, new { @class = "btn btn-default" })
</p>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(x => x.Agency).Titled("Operator");
    columns.Add(x => x.CalendarYear).Titled("Calendar Year");
    columns.Add(x => x.RecordStatus).Titled("Record Status");
    columns.Add(x => x.ExpansionVehicleCount).Titled("Expansion Vehicles");
    columns.Add(x => x.ReplacementVehicleCount).Titled("Replacement Vehicles");
}).WithPaging(15)
