@model ClipperPortal.Models.ExpansionDetail

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="expansion-details details-page">
    <h2>Create Expansion Detail</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        Html.RenderPartial("_Content", Model);
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            PageManager.bind();
        });
    </script>
}
